<div class="d-flex gap-2 align-items-center">
  <div class="btn-group" role="group" aria-label="Basic example">
    <button class="btn btn-sm btn-outline-secondary" title="Save file as..." (click)="save()">
      <i class="fas fa-save"></i>
    </button>

    @if (showEditButton) {
      <button class="btn btn-sm btn-outline-primary" title="Edit resource" (click)="editClicked.emit()">
        <i class="fas fa-edit"></i>
      </button>
    }

    @if (!readOnly) {
      <button class="btn btn-sm btn-outline-secondary" title="Open file..." (click)="load()">
        <i class="fas fa-folder-open"></i>
      </button>
    }

    @if (generateNarrative) {
      <button class="btn btn-sm btn-outline-secondary" title="Generate narrative" (click)="generateNarrativeClicked.emit()">
        <i class="far fa-lightbulb"></i>
      </button>
    }

    <button class=" btn btn-sm btn-outline-secondary" title="Search" (click)="search()">
      <i class="fas fa-search"></i>
    </button>

    <button class="btn btn-sm btn-outline-secondary" title="Format" (click)="format()">
      <i class="fas fa-align-left"></i>
    </button>

    <button class="btn btn-sm btn-outline-secondary" title="Collapse all" (click)="collapseAll()">
      <i class="fas fa-compress"></i>
    </button>

    <button class="btn btn-sm btn-outline-secondary" title="Collapse one level" (click)="collapse()">
      <i class="far fa-square-minus"></i>
    </button>

    <button class="btn btn-sm btn-outline-secondary" title="Expand one level" (click)="expand()">
      <i class="far fa-square-plus"></i>
    </button>

    <button class="btn btn-sm btn-outline-secondary" title="Expand all" (click)="expandAll()">
      <i class="fas fa-expand"></i>
    </button>
  </div>
</div>
